aniso8601==9.0.1
astroid==2.9.0
attrs==21.2.0
backports.entry-points-selectable==1.1.1
click==8.0.3
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.9
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.0
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
PyJWT==1.4.2
pylint==2.12.2
pyparsing==3.0.6
pytest==6.2.5
pytz==2021.3
six==1.16.0
toml==0.10.2
tox==3.24.4
typing_extensions==4.0.1
virtualenv==20.10.0
Werkzeug==2.0.2
wrapt==1.13.3
